
@{
    ViewData["Title"] = "Index";
}

<h2>Cart</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Weight</th>
            <th>Price</th>
            <th>Components</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @using Services.BusinessClasses
        @model Cart
        @foreach (var item in Model.Lines)
        {
            <tr>
                <td>@item.Food.Name</td>
                <td>@item.Food.Category</td>
                <td>@item.Food.Weight</td>
                <td>@item.Food.Price</td>
                <td>@item.Food.Componets</td>
                <td>@item.Quantity</td>
                <td>
                    <a class="btn btn-danger" href=@Url.Action( "Remove","Cart", new { id = item.Food.Id})> Видалити</a>
                </td>
            </tr>


        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-right">
                Total Price:
            </td>
            <td>@Model.ComputeTotalValue().ToString("# $")</td>
        </tr>
    </tfoot>
</table>